@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); 


body {
  font-family: 'Open Sans', sans-serif;  
}

.about {
  padding: var(--container-padding);
  border-radius: 10px; 
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.8);  
}

.about h1, .about h2, .about p, .about h4 {
  color: var(--text-color);
}

.about img {
  box-shadow: var(--shadow-light);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px; 


  
}


.website-description, 
.community-guidelines, 
.privacy-policy, 
.additional-section {
  max-width: 800px; 
  width: 100%;
  text-align: left; 
  margin-bottom: 20px; 
}

.website-description p, 
.community-guidelines ol, 
.privacy-policy ol, 
.additional-section p {
  text-align: left;
}
