:root[data-theme="light"] {
  --text-color: #000000;       
  --bg-color: #eae9f1;          
  --primary-color: #65344c;     
  --secondary-color: #d5d7c1;   
  --accent-color: #517b69;      
  --header-bg: #65344c;         
  --footer-bg: #65344c;        
  --hover-color: rgb(144, 206, 30);  
  --bold-text: bold;
  --container-padding: 10px;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --primary-color-transparent: rgba(101, 52, 76, 0.4); 
  --secondary-color-transparent: rgba(213, 215, 193, 0.4); 
}

:root[data-theme="dark"] {
  --text-color: #ffffff;         
  --bg-color: #0f0e16;            
  --primary-color: #cb9ab2;       
  --secondary-color: #3c3e28;     
  --accent-color: #84ae9c;       
  --header-bg: #cb9ab2;           
  --footer-bg: #cb9ab2;           
  --hover-color: #D4AF37;         
  --bold-text: bold;
  --container-padding: 10px;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  --primary-color-transparent: rgba(203, 154, 178, 0.9); 
  --secondary-color-transparent: rgba(60, 62, 40, 0.6);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.accent-color {
  color: var(--accent-color);
}

.hover-color:hover {
  color: var(--hover-color);
}

.bold-text {
  font-weight: var(--bold-text);
}

.container {
  padding: var(--container-padding);
}

.shadow-light {
  box-shadow: var(--shadow-light);
}

.shadow-dark {
  box-shadow: var(--shadow-dark);
}


.primary-color-transparent {
  background-color: var(--primary-color-transparent);
}

.secondary-color-transparent {
  background-color: var(--secondary-color-transparent);
}

.header-bg {
  background-color: var(--header-bg);
}

.footer-bg {
  background-color: var(--footer-bg);
}


