:root[data-theme="light"] {
  --text-color: #0f0b0b;       
  --bg-color: #ffffff;          
  --primary-color: #bcaca4;     
  --secondary-color: #d9e3e1;   
  --accent-color: #667e8a;      
  --header-bg: #ffffff;         
  --footer-bg: #ffffff;        
  --hover-color: rgb(206, 197, 30);  
  --bold-text: bold;
  --container-padding: 10px;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --primary-color-transparent: rgba(188, 172, 164, 0.4); 
  --secondary-color-transparent: rgba(217, 227, 225, 0.4); 
  --danger-color: #ff0000;
}

:root[data-theme="dark"] {
  --text-color: #f4f0f0;         
  --bg-color: #000000;            
  --primary-color: #5b4b43;       
  --secondary-color: #1c2624;     
  --accent-color: #758d99;       
  --header-bg: #000000;           
  --footer-bg: #000000;           
  --hover-color: rgb(224, 179, 32);         
  --bold-text: bold;
  --container-padding: 10px;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  --primary-color-transparent: rgba(91, 75, 67, 0.9); 
  --secondary-color-transparent: rgba(28, 38, 36, 0.6);
  --danger-color: #ff0000;

}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.accent-color {
  color: var(--accent-color);
}

.hover-color:hover {
  color: var(--hover-color);
}

.bold-text {
  font-weight: var(--bold-text);
}

.container {
  padding: var(--container-padding);
}

.shadow-light {
  box-shadow: var(--shadow-light);
}

.shadow-dark {
  box-shadow: var(--shadow-dark);
}


.primary-color-transparent {
  background-color: var(--primary-color-transparent);
}

.secondary-color-transparent {
  background-color: var(--secondary-color-transparent);
}

.header-bg {
  background-color: var(--header-bg);
}

.footer-bg {
  background-color: var(--footer-bg);
}


