/* BlogList.css */
.blog-list-container {
    padding: 20px;
    margin: auto;

  }
  
  .blog-card {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

  }
  
  .blog-excerpt {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    
  }  

    

  
