.carousel {
  display: flex;
  overflow: hidden;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto; 
  margin-right: auto;
  margin-top: 15px; 
  margin-bottom: 15px;
  border: 10px solid transparent;
  border-image: linear-gradient(to top, rgba(188, 172, 75, 164), rgba(100, 52, 75, 0)) 1 stretch;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  width: 100%;
}

.carousel-image {
  max-width: 100%;
  object-fit: cover;
  object-position: top;
}

.carousel-caption {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.carousel-title {
  font-weight: bold;
  font-size: 2rem;
}

.carousel-description {
  font-size: 1.25rem;
}
