.explore-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-light);
    
  }

  .join-section {
    margin-top: 90px;
    background-color: var(--primary-color);
    padding: 20px 0;
    text-align: center;
  }
  
  .join-content h5, .join-content p {
    font-size: 24px; 
    margin-bottom: 10px;

    
  }
  