.footer {
  background: var(--footer-bg);
  color: var(--text-color);
  text-align: center;
  padding: 5px ; }

.footer a {
  color: var(--accent-color);
  text-decoration: none;
  font-size:medium;
}

.footer a:hover {
  color: var(--hover-color);

}

.footer-bottom {
  background-color: var(--footer-bg);
  color: var(--text-color);
  border-radius: 10px;
  padding:2px 0; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%; 

}

.footer h5, .footer p, .footer-bottom p {
  font-size: 1em; 
  font-size:medium;

}

.footer ul {
  padding-left: 0;
  list-style-type: none;
  font-size:1em;
  font-size:medium;
}

.footer ul li {
  display: inline; 
  margin-right: 50px; }
