.header {
  width: 100%;
  background-color: var(--bg-color); 
  font-size: 26px;
  font-weight: 400;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.header .navbar {
  width: 100%;
  padding: 0 20px; 
}

.header .logo {
  flex-grow: 1; 
}

.header .menu {
  margin-right: auto; 
}

.header .nav-link {
  color: var(--text-color); 
  margin: 0 30px; }

.header .nav-link:hover {
  color: var(--text-color); }

.user-avatar {
  width:75px; 
  height: 75px;
  border-radius: 50%;
}

.avatars-container {
  display: flex;
  align-items: center;
}

.custom-dropdown {
  padding: 5px 10px;
}

.header.rtl {
  direction: rtl;
}

.header.rtl .nav-link, .header.rtl .custom-dropdown  {
  margin: 0 40px;
}

.img-logo {
  max-height: 130px;
  display: block;       
  margin: auto;          
  object-fit: contain;   
}


.Nav-secondary {
  flex-grow: 1;
  display: flex;           
  align-items: center;     
  justify-content: center; 
}
