.portals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.portal-card {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: var(--primary-color-transparent);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portal-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

@media (max-width: 992px) {
  .portals-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 576px) {
  .portals-container {
    grid-template-columns: 1fr; 
  }

  .portal-card {
    padding: 15px;
    height: auto; 
  }
}

.headerPortal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}