.resetPasswordContainer {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--primary-color-transparent);
    box-shadow: var(--shadow-light);
    border-radius: 8px;
  }
  
  .resetPasswordTitle {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .resetPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .resetPasswordInput {
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .resetPasswordInput::placeholder {
    color: var(--secondary-color);
  }
  
  .resetPasswordButton {
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .resetPasswordButton:hover {
    background-color: var(--hover-color);
  }