/* General container styling */
.container-subscribed {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color-transparent);
  box-shadow: var(--shadow);
  border-radius: 5px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 90vh; 
}




/* Card styling */

/* Card styling - make it more compact */
.card {
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 20px; 
  background-color: var(--primary-color-transparent);
  border: 1px solid var(--primary-color);
  margin-bottom:30px; 
}

.card-img {
  width: 100%;
  max-height: 400px; 
  object-fit: cover;
  object-position: center;
}




.card-body {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card-text:last-child {
  margin-bottom: 0;
}

/* Styling for the tabs */
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  border: none;
  color: var(--text-color);
}

.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
}
.subscribe-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}
/* Styling for each tab */
.tab-content {
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}